body {
	font-family: 'Roboto Slab', serif;
	height: 100%;
	background: #EEEEEE;
	color: #757575
}

.header--image {
	height: 150px;
  background: url('../images/header-image.jpg') center / cover;
	color: white;
}

.title--left {
	padding-left: 36px;
}

.content--format {
  margin: 20px 20px 0 20px;
}

.left__site--fixed {
	position: fixed;
	top: 85px;
}

.right__site--margin {
	margin-left: 400px;
}

.button--format {
	width: 150px;
	color: white;
}

.message__card {
	width: 100%;
	background: rgba(0, 0, 0, 0.0);
}

.message__card--content {
	background: rgba(255, 255, 255, 1.0);
	margin-top: -10px;
	margin-bottom: 15px;
	margin-left: 10px;
	padding: 10px;
	border-radius: 5px;
}

.message__card--created {
	font-size: 11px;
	margin-bottom: -7px;
	color: #AAAAAA;
}

.item--format {
	padding: 5px;
}

.footer--format {
	height: 34px;
	margin: 0;
	padding: 8px 16px 2px 16px;
	background: #424242;
}

.github__icon {
	width: 24px;
	height: 24px;
  margin-top: 5px;
  background: url('../images/mark-github.svg') center / cover;
}

.mdl-dialog {
	padding: 0;
}

.mdl-dialog__content {
	padding: 20px 20px 0 20px;
}

.mdl-snackbar {
	margin-bottom: 20px;
	background: #F44336;
	color: white;
}
