body {
	font-family: 'Roboto Slab', serif;
	height: 100%;
	background: #EEEEEE;
	color: #757575
}

.header--image {
	height: 150px;
  background: url('../images/header-image.jpg') center / cover;
	color: white;
}

.title--left {
	padding-left: 36px;
}

.left__margin--30 {
	margin-left: 30px;
}

.textarea--format {
	width: 420px;
}

.button--format {
	width: 150px;
	margin-top: -70px;
	margin-left: 50px;
	color: white;
}

.item--format {
	padding: 5px;
}
